/* All styles for your header Components live here */
.HCBox {
    width: 475px;
    height: 100px;
    margin-left: 10%;
}
.LambdaHeaderStuff {
    display: flex;
    flex-direction: row;
}
.LamHeader {
    margin-left: 10%;
    font-weight: normal;
    font-size: 1.1rem;
}
.LambDate {
    width: 40%;
    color: grey;
    opacity:.7;
    margin: 10px;
}
.ThumbNailImg {
    margin-left: 5%;
    width: 10%;
    height: 10%;
}